## python demo for mle

In [1]:
import numpy as np
from scipy.optimize import minimize
import scipy.stats as stats

In [2]:
import pandas as pd
tb1 = pd.read_excel('regcar.xlsx')
tb1

   TV Ads  car Sold
0       1        14
1       3        24
2       2        18
3       1        17
4       3        27

In [3]:
import statsmodels.api as sm
x=tb1['TV Ads']
y=tb1['car Sold']
x2=sm.add_constant(x)
mod1 = sm.OLS(y,x2)
modl2 = mod1.fit()
print(modl2.summary())

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\stats\stattools.py:72: ValueWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  "samples were given." % int(n), ValueWarning)

                            OLS Regression Results
==============================================================================
Dep. Variable:               car Sold   R-squared:                       0.877
Model:                            OLS   Adj. R-squared:                  0.836
Method:                 Least Squares   F-statistic:                     21.43
Date:                Tue, 09 Mar 2021   Prob (F-statistic):             0.0190
Time:                        14:37:04   Log-Likelihood:                -9.6687
No. Observations:                   5   AIC:                             23.34
Df Residuals:                       3   BIC:                             22.56
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         10.0000      2.366      4.226      0.024       2.469      17.531
TV Ads         5.0000      1.080      4.629      0.019       1.563       8.437
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   1.214
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.674
Skew:                           0.256   Prob(JB):                        0.714
Kurtosis:                       1.276   Cond. No.                         6.33
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Parameter estimation by MLE

In [4]:
e = modl2.resid
e

0   -1.0
1   -1.0
2   -2.0
3    2.0
4    2.0
dtype: float64

In [5]:
np.std(e)

1.6733200530681511

#### Parameter estimation by MLE

In [6]:
import numpy as np
from scipy.optimize import minimize

def lik(parameters):
    m = parameters[0]
    b = parameters[1]
    sigma = parameters[2]
    for i in np.arange(0,len(x)):
        y_exp = m * x + b
    L = (len(x)/2) * np.log(2 * np.pi) + (len(x)/2) * np.log(sigma **2) + 1/(2 * sigma ** 2 ) * sum((y - y_exp)**2)
    return L
x = np.array([1,3,2,1,3])
y = np.array([14,24,18,17,27])
lik_model = minimize(lik, np.array([2,2,2]), method='L-BFGS-B')

In [7]:
lik_model

      fun: 9.668741208976831
 hess_inv: <3x3 LbfgsInvHessProduct with dtype=float64>
      jac: array([ 5.32907052e-07,  1.77635684e-07, -1.95399252e-06])
  message: b'CONVERGENCE: NORM_OF_PROJECTED_GRADIENT_<=_PGTOL'
     nfev: 104
      nit: 22
   status: 0
  success: True
        x: array([ 5.00000016,  9.99999972, -1.67332061])

#### Logistic_Regression

##### Chi Sq. of G statistic

In [8]:
import scipy
from scipy.stats import chi2

In [9]:
chi2.pdf(13.628,2)

0.000549145469075383

##### Z-test Wald test

In [10]:
import pandas as pd
df = pd.read_excel('Simmons.xls')
df

    Customer  Spending  Card  Coupon
0          1     2.291     1       0
1          2     3.215     1       0
2          3     2.135     1       0
3          4     3.924     0       0
4          5     2.528     1       0
5          6     2.473     0       1
6          7     2.384     0       0
7          8     7.076     0       0
8          9     1.182     1       1
9         10     3.345     0       0
10        11     2.140     1       0
11        12     3.255     0       1
12        13     1.512     0       0
13        14     2.148     0       1
14        15     6.737     0       0
15        16     6.486     0       0
16        17     1.307     0       0
17        18     3.470     1       0
18        19     2.936     0       0
19        20     6.404     0       1
20        21     2.229     0       0
21        22     2.933     0       0
22        23     2.118     0       0
23        24     2.050     0       0
24        25     4.998     0       1
25        26     1.394     0       0
26        27     3.993     1       1
27        28     2.059     0       1
28        29     1.677     0       0
29        30     2.229     0       1
..       ...       ...   ...     ...
70        71     2.678     1       1
71        72     2.323     1       0
72        73     1.878     1       0
73        74     2.678     1       1
74        75     6.179     1       1
75        76     3.411     1       1
76        77     5.991     0       1
77        78     7.076     1       1
78        79     3.255     1       1
79        80     2.148     1       0
80        81     5.501     1       1
81        82     5.991     1       1
82        83     2.372     1       0
83        84     3.995     1       0
84        85     2.135     0       1
85        86     6.737     1       1
86        87     6.486     1       1
87        88     2.429     1       0
88        89     4.701     1       1
89        90     6.404     1       0
90        91     1.130     1       0
91        92     1.911     1       1
92        93     4.959     1       1
93        94     6.073     1       1
94        95     1.403     1       0
95        96     3.318     0       0
96        97     2.421     1       0
97        98     6.073     0       0
98        99     2.630     1       0
99       100     3.411     0       1

[100 rows x 4 columns]

In [11]:
x = df[['Card', 'Spending']]
y = df['Coupon']

In [12]:
import statsmodels.api as sm
import sklearn.linear_model
x1=sm.add_constant(x)
logit_model=sm.Logit(y,x1)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.604869
         Iterations 5
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.101
Dependent Variable: Coupon           AIC:              126.9739
Date:               2021-03-09 14:37 BIC:              134.7894
No. Observations:   100              Log-Likelihood:   -60.487
Df Model:           2                LL-Null:          -67.301
Df Residuals:       97               LLR p-value:      0.0010981
Converged:          1.0000           Scale:            1.0000
No. Iterations:     5.0000
-----------------------------------------------------------------
              Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-----------------------------------------------------------------
const        -2.1464    0.5772  -3.7183  0.0002  -3.2778  -1.0150
Card          1.0987    0.4447   2.4707  0.0135   0.2271   1.9703
Spending      0.3416    0.1287   2.6551  0.0079   0.0894   0.5938
================================================================

#### completed